@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#Spinner-Dots/Spinner-Dots-5 > g > rect {
  animation: fadeInOut 2s infinite;
}

/* Example to target specific rectangles, adjust as necessary */
#Rectangle-9,
#Rectangle-10,
#Rectangle-9_2,
#Rectangle-10_2 {
  animation-delay: 0.2s;
}
