.footer {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding: 2% 4%;
}

.copyright {
  margin-top: 25px;

  text-decoration: none;
  font-variant: normal;
  font-size: 10px;
  font-weight: bold;
  font-family: Dosis;
  letter-spacing: 0px;
  color: #f2f2f2;

  opacity: 0.5;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}
